.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
    overflow: hidden;
    margin: -1px;
}
.wrapper{
    max-width: 640px;
    margin: 0px auto;
    padding-bottom: 0px;
}

// main-common
.group-flex3,
.group-flex4{
    padding: 0 20px;
}

.fixed-area{
    position: absolute;
    bottom: 0;
    right: 90px;
}
.fixed-box{
    position: fixed;
    bottom: 54px;
    z-index: 100;
}
.btn-top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin: 20px 21px;
    opacity: 0.9;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    color: $colors-gray9;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}