@font-face {
    font-family: 'Noto Sans KR';
    src: url(../font/notoR.eot);
    src: url(../font/notoR.eot?#iefix) format('embedded-opentype'),
         url(../font/notoR.otf) format('otf'),
         url(../font/notoR.svg#notoR) format('svg'),
         url(../font/notoR.ttf) format('truetype'),
         url(../font/notoR.woff) format('woff'),
         url(../font/notoR.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
font-family: 'Noto Sans KR';
src: url(../font/notoM.eot);
src: url(../font/notoM.eot?#iefix) format('embedded-opentype'),
        url(../font/notoM.otf) format('otf'),
        url(../font/notoM.svg#notoM) format('svg'),
        url(../font/notoM.ttf) format('truetype'),
        url(../font/notoM.woff) format('woff'),
        url(../font/notoM.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url(../font/notoB.eot);
    src: url(../font/notoB.eot?#iefix) format('embedded-opentype'),
         url(../font/notoB.otf) format('otf'),
         url(../font/notoB.svg#notoB) format('svg'),
         url(../font/notoB.ttf) format('truetype'),
         url(../font/notoB.woff) format('woff'),
         url(../font/notoB.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}
    