@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

// @font-face {
//     font-family: 'Noto Sans KR';
//     src: url(../font/NotoSansKR-Regular.eot);
//     src: url(../font/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
//          url(../font/NotoSansKR-Regular.otf) format('otf'),
//          url(../font/NotoSansKR-Regular.svg#NotoSansKR-Regular) format('svg'),
//          url(../font/NotoSansKR-Regular.ttf) format('truetype'),
//          url(../font/NotoSansKR-Regular.woff) format('woff'),
//          url(../font/NotoSansKR-Regular.woff2) format('woff2');
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
// font-family: 'Noto Sans KR';
// src: url(../font/NotoSansKR-Medium.eot);
// src: url(../font/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
//         url(../font/NotoSansKR-Medium.otf) format('otf'),
//         url(../font/NotoSansKR-Medium.svg#NotoSansKR-Medium) format('svg'),
//         url(../font/NotoSansKR-Medium.ttf) format('truetype'),
//         url(../font/NotoSansKR-Medium.woff) format('woff'),
//         url(../font/NotoSansKR-Medium.woff2) format('woff2');
//     font-weight: 500;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Noto Sans KR';
//     src: url(../font/NotoSansKR-Bold.eot);
//     src: url(../font/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
//          url(../font/NotoSansKR-Bold.otf) format('otf'),
//          url(../font/NotoSansKR-Bold.svg#NotoSansKR-Bold) format('svg'),
//          url(../font/NotoSansKR-Bold.ttf) format('truetype'),
//          url(../font/NotoSansKR-Bold.woff) format('woff'),
//          url(../font/NotoSansKR-Bold.woff2) format('woff2');
//     font-weight: 700;
//     font-style: normal;
// }
    