@mixin ellip($line-height:1,$lines:1) {
    text-overflow: ellipsis;
    overflow: hidden;
    
    @if($lines > 1){
        line-height: $line-height;
        max-height: $line-height * $lines;
        display: -webkit-box;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical; /* autoprefixer: off */
    }@else{
        white-space: nowrap;
    }
}

@mixin position-Center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin header-Touch-space{
    padding: 8px;
    width: auto;
    height: auto;
    border: 0px;
    background-color: transparent;
}