$font-kr1:'Noto Sans KR', sans-serif;

$colors-coral10: #FFF5F0;
$colors-coral20: #F9CEC2;
$colors-coral40: #FEB49B;
$colors-coral60: #FE8F71;
$colors-coral80: #FE7B66;
$colors-coral100: #FF6F61;
$colors-coral100_disabled: #FFB7B0;
$colors-coral150: #FF473D;
$colors-green80: #008282;
$colors-green100: #0B666A;
$colors-dark1: #000000;
$colors-gray9: #222222;
$colors-gray8: #3B3B3B;
$colors-gray7: #696969;
$colors-gray6: #A1A1A1;
$colors-gray5: #C4C4C4;
$colors-gray4: #DADADA;
$colors-gray3: #ECECEC;
$colors-gray2: #F3F3F3;
$colors-gray1: #F8F8F8;
$colors-white: #FFFFFF;
