$font-kr1:'Noto Sans KR', sans-serif;

$colors-coral10: #FFF5F0;
$colors-coral20: #F9CEC2;
$colors-coral40: #FEB49B;
$colors-coral60: #FE8F71;
$colors-coral80: #FE7B66;
$colors-coral100: #FF6F61;
$colors-coral100_disabled: #FFB7B0;
$colors-coral150: #FF473D;
$colors-green80: #008282;
$colors-green100: #0B666A;
$colors-dark1: #000000;
$colors-gray9: #222222;
$colors-gray8: #3B3B3B;
$colors-gray7: #696969;
$colors-gray6: #A1A1A1;
$colors-gray5: #C4C4C4;
$colors-gray4: #DADADA;
$colors-gray3: #ECECEC;
$colors-gray2: #F3F3F3;
$colors-gray1: #F8F8F8;
$colors-white: #FFFFFF;
// $space-1: 1px;
// $space-2: 2px;
// $space-4: 4px;
// $space-6: 6px;
// $space-8: 8px;
// $space-10: 10px;
// $space-12: 12px;
// $space-14: 14px;
// $space-16: 16px;
// $space-20: 20px;
// $space-24: 24px;
// $space-30: 30px;
// $space-36: 36px;
// $space-40: 40px;
// $space-48: 48px;
// $space-60: 60px;
// $space-72: 72px;
// $space-96: 96px;
// $shadows-fab: 0px 0px 2px rgba(0, 0, 0, 0.1), 2px 4px 10px rgba(0, 0, 0, 0.1);
// $shadows-card: 2px 6px 20px rgba(0, 0, 0, 0.1);
// $shadows-bottomModal: 0px -6px 20px rgba(0, 0, 0, 0.1);
// $shadows-modal: 0px 4px 20px rgba(0, 0, 0, 0.1);
// $radii-sharp: 0px;
// $radii-xs: 4px;
// $radii-sm: 8px;
// $radii-md: 12px;
// $radii-circle: 9999px;
// $fontSizes-11: 11px;
// $fontSizes-12: 12px;
// $fontSizes-13: 13px;
// $fontSizes-14: 14px;
// $fontSizes-15: 15px;
// $fontSizes-16: 16px;
// $fontSizes-17: 17px;
// $fontSizes-18: 18px;
// $fontSizes-20: 20px;
// $fontSizes-22: 22px;
// $fontSizes-24: 24px;
// $fontSizes-28: 28px;
// $lineHeights-135: 1.35;
// $lineHeights-140: 1.4;
// $lineHeights-145: 1.45;
// $lineHeights-150: 1.5;
// $lineHeights-160: 1.6;
// $fontWeights-bold: 700;
// $fontWeights-medium: 500;
// $fontWeights-regular: 400;